.semaforo {
  width: 100px;
  height: 300px;
  background-color: #333;
  border-radius: 10px;
  position: relative;
}

.semaforo div {
  display: flex;
flex-direction: column-reverse;
justify-content: space-between;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.rojo {
  top: 20px;
  background-color: rgb(179, 46, 46);

}

.amarillo {
  top: 140px;
  background-color: rgb(138, 138, 33);
}

.verde {
  bottom: 20px;
  background-color: rgb(15, 105, 15);
}